.header__container
  .header__logo= render "svg_html/logo", icon_color: "#fff"
  %ul.right
    %li
      = link_to "Log Out", destroy_user_session_path, method: :delete, class: "header__link"

.p25
  .max-width-content
    = form_for @user, url: settings_path, method: :put do |f|
      .mb50
        %h1.mb15 Personal Information
        = f.hidden_field :id

        .mb15
          = f.label :first_name, "First Name", class: "form__label"
          = f.text_field :first_name, value: @user.first_name.capitalize, required: true, class: "form__text-field"

        .mb15
          = f.label :last_name, "Last Name", class: "form__label"
          = f.text_field :last_name, value: @user.last_name.capitalize, required: true, class: "form__text-field"

        .mb15
          = f.label :email, class: "form__label"
          = f.email_field :email, required: true, class: "form__text-field"
      .mb50
        %h1.mb15 Billing Information

        %p.registration__user-info
          %span.bold Card Type:
          = current_user.billing_detail.card_type
        %p.registration__user-info
          %span.bold Last 4 Digits:
          = current_user.billing_detail.card_last_four_digits
        %p.registration__user-info
          %span.bold Card Expiration:
          #{current_user.billing_detail.card_exp_month}/#{current_user.billing_detail.card_exp_year}

      .mb50
        %h1.mb15 Recipient Information
        = f.fields_for :recipient do |ri|
          = ri.hidden_field :id
          = ri.hidden_field :user_id
          = ri.text_field :first_name, placeholder: "First Name", required: true, autofocus: true, class: "form__text-field"
          = ri.text_field :last_name, placeholder: "Last Name", required: true, class: "form__text-field"

          %h2.mtb25 Recipient's Address
          = ri.fields_for :address do |af|
            = af.hidden_field :id
            = af.hidden_field :recipient_id
            = af.text_field :address1, placeholder: "Street Address", required: true, class: "form__text-field"
            = af.text_field :address2, placeholder: "Apt, Suite, etc.", class: "form__text-field"
            = af.text_field :city, placeholder: "City", required: true, class: "form__text-field"
            = af.text_field :state, placeholder: "State", required: true, class: "form__text-field"
            = af.text_field :zip, placeholder: "Zip Code", required: true, class: "form__text-field"

      = f.submit "Save", class: "btn"
