.registration__container
  .registration__header.column-12
    .registration__header-logo.inline-block.mr10
      = render "svg_html/logo", icon_color: "#fff"
    First, I'll need your info to get started...

  .p25
    = form_for(resource, as: resource_name, url: registration_account_path) do |f|
      = devise_error_messages!
      = f.text_field :first_name, autofocus: true, required: true, placeholder: "First Name", class: "form__text-field"
      = f.text_field :last_name, required: true, placeholder: "Last Name", class: "form__text-field"
      = f.email_field :email, required: true, placeholder: "Email Address", class: "form__text-field"
      = f.password_field :password, autocomplete: "off", required: true,
        placeholder: (@minimum_password_length ? "Password: #{@minimum_password_length} character minimum" : "Password"), class: "form__text-field"
      = f.password_field :password_confirmation, autocomplete: "off", required: true, placeholder: "Confirm your password", class: "form__text-field"
      .text-center.mtb30
        = f.submit "Go to Billing", class: "btn"
