.registration__container
  .registration__header.column-12
    .registration__header-logo.inline-block.mr10
      = render "svg_html/logo", icon_color: "#fff"
    Sweet! So who are you setting this up for?

  .p25.max-width-content
    = form_for @recipient, url: registration_recipient_info_path, method: :post do |f|
      = f.hidden_field :user_id
      = f.text_field :first_name, placeholder: "First Name", required: true, autofocus: true, class: "form__text-field"
      = f.text_field :last_name, placeholder: "Last Name", required: true, class: "form__text-field"

      %h2.mtb25 Shipping Information
      = f.fields_for :address do |af|
        = af.text_field :address1, placeholder: "Street Address", required: true, class: "form__text-field"
        = af.text_field :address2, placeholder: "Apt, Suite, etc.", class: "form__text-field"
        = af.text_field :city, placeholder: "City", required: true, class: "form__text-field"
        = af.text_field :state, placeholder: "State", required: true, class: "form__text-field"
        = af.text_field :zip, placeholder: "Zip Code", required: true, class: "form__text-field"

      .text-center.mtb30
        = f.submit "Submit Information", class: "btn"
